main {
    min-height: 500px;
}
.form-create {
    padding-left: 150px;
}
.form-control {
    width: 80%;
}
.button-edit, .button-create{
    width: 150px;
    text-transform: uppercase;
}
.back {
    color: #000;
    font-size: 22px;
    padding-right: 25px;
}
.back:hover {
    color: red;
}
.back-create {
    padding-left: 120px;
}